

<nav class="navbar navbar-expand-md navbar-dark fixed-top my-bg" >
    <div class="container-fluid">
        <img class="navbar-brand" src="../../../assets/images/prissoft logo.png" alt="Logo Image" style="width: 4%;" routerLink="/home">
      <!-- <a class="navbar-brand" href="#">Carousel</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class = "logo-text-content">
        <span class = "emp-text">LEAVE MANAGEMENT</span>
        <span class = "emp-text emp-payroll">SYSTEM</span>
        </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"  routerLink="/home">Home</a>
          </li>
          <li class="nav-item add-leave">
            <a class="nav-link" href="#" routerLink="/add" style="
            color: white" >Add leave</a>
          </li>
          <li class="nav-item add-leave">
            <a class="nav-link" href="#" routerLink="/login" style="
            color: white" >Log Out</a>
          </li>
          

          
          
        </ul>
       
      </div>
    </div>
  </nav>
