<app-header> </app-header>


<div class="form-content" style=" margin-top: 65px;">
    <!-- <form   (ngSubmit)="onSubmit()" >   -->
        <form    [formGroup]="employeeForm" > 
        <div class="form-head">Employee Leave form</div>

        <!-- Name -->
        <div class="row-content">
            <label class="label text" for="name">FullName</label>
            <!-- <input formControlName="name" [(ngModel)]= "employee.name" name="name" class="input" type="text" id="first" name="name"
                placeholder="Your name.." required [ngModelOptions]= "{ standalone: true }" />     -->
                <input formControlName="name" [(ngModel)]= "employee.name" name="name" class="input" type="text" id="name" name="name"
                placeholder="Your name.." required  /> 
                <span class="text-danger" *ngIf="employeeForm.controls['name'].dirty && employeeForm.hasError('required','name')"  
                style="width: 225px">* Name is required</span>
            </div>
         

    <div class="row-content"> 
            <label class="label text" for="leavetype" required>Leave Type</label>
            <div>
                <input formControlName="leavetype" [(ngModel)]= "employee.leavetype" type="radio" name="leavetype" id="medical" value="Medical" checked />
                <label class="text" for="medical">Medical</label>
                <input formControlName="leavetype" [(ngModel)]= "employee.leavetype" type="radio" name="leavetype" id="vacation" value="Vacation" />
                <label class="text" for="vacation">Vacation</label>
                <input formControlName="leavetype" [(ngModel)]= "employee.leavetype" type="radio" name="leavetype" id="business tour" value="business tour" />
                <label class="text" for="business tour">Business Tour</label>
              <span class="text-danger" *ngIf="employeeForm.controls['leavetype'].dirty && employeeForm.hasError('required','leavetype')">* Leave type Selection is required</span>
            </div>
        </div> 

         

    
     <!-- Date -->
 <div class="row-content" >
    <label for="startDate" class="label-text" >Start Date</label>
    <mat-form-field>
      <input formControlName="leaveStartdate"
        [(ngModel)]= "employee.leaveStartdate"
        matInput
        [matDatepicker]= "myDatePickerr"  placeholder=" Choose Your Start Date.."
      />
      <mat-datepicker-toggle
        [for]="myDatePickerr"
        matSuffix    style=" color: sandybrown "
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatePickerr></mat-datepicker>
    </mat-form-field>
  </div>

   <div class="row-content">
    <label for="leaveEnddate" class="label-text">End Date</label>
    <mat-form-field>
      <input formControlName="leaveEnddate"
        [(ngModel)]= "employee.leaveEnddate"
        matInput
        [matDatepicker]= "myDatePicker" placeholder=" Choose Your End Date.."
        
      />
      <mat-datepicker-toggle
        [for]="myDatePicker"
        matSuffix  style=" color: sandybrown "
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>
  </div> 


  <!-- Notes -->
  <div class="row-content">
    <label class="label text" for="notes">Reason</label>
    <textarea formControlName="notes" 
      [(ngModel)]= "employee.notes"
      class="input"
      name="Notes"
      id="notes"
      placeholder=""
      style="height: 100px"
    ></textarea>
    <span class="text-danger" *ngIf="employeeForm.controls['notes'].dirty && employeeForm.hasError('required','notes')"
    style="width: 240px">*Reason is required</span>

  </div>

  <!-- Submit, Cancel, Reset Buttons -->
  <div class="buttonParent">
    <a routerLink="/home" href="./header.component.html" class="resetButton button cancelButton" style ="margin-left: 80px">Cancel</a>
    <div class="submit-reset">
         <!-- <button type="button" class="button submitButton"  id="submitButton" [disabled]="!employeeForm.valid" (click)="onSubmit()">Submit</button> -->
         <button type="button"  [attr.disabled]="!employeeForm.valid ? true : null"  (click)="onSubmit()" style=" margin-left: 75px;
         margin-right: 75px;">Submit</button> 

         <button type="button" class="resetButton button" >Reset</button>
        
        <!-- <button type="button"  [attr.disabled]="!employeeForm.valid ? true : null"  (click)="onSubmit()">Submit</button>  -->
    
      </div>
</div>



</form>

</div>






































