<app-header> </app-header>


<div class="form-content" style=" margin-top: 73px;">
    <!-- <form   (ngSubmit)="onSubmit()" >                  -->
        <form    [formGroup]="employeeForm" > 
        <div class="form-head">Employee Update Leave form</div>

        <!-- Name -->
        <div class="row-content">
            <label class="label text" for="name">FullName</label>
            <!-- <input formControlName="name" [(ngModel)]= "employee.name" name="name" class="input" type="text" id="first" name="name"
                placeholder="Your name.." required [ngModelOptions]= "{ standalone: true }" />     -->
                <input formControlName="name" [(ngModel)]= "employee.name" name="name" class="input" type="text" id="first" name="name"
                placeholder="Your name.." required    /> 
                <!-- <span>{{ employeeForm.controls['name']?.value }}</span> -->
                <span class="text-danger" *ngIf="employeeForm.controls['name'].dirty && employeeForm.hasError('required','name')">* Name is required</span>
            </div>

     




    <!-- <div class="row-content"> 
            <label class="label text" for="leavetype">Leave Type</label>
            <div>
                <input formControlName="leavetype" [(ngModel)]= "employee.leavetype" type="radio" name="medical" id="medical" value="Medical" />
                <label class="text" for="medical">Medical</label>
                <input formControlName="leavetype" [(ngModel)]= "employee.leavetype" type="radio" name="vacation" id="vacation" value="Vacation" />
                <label class="text" for="vacation">Vacation</label> #leavetypeControl="ngModel"
            </div>
        </div>  -->


        <div class="row-content"> 
          <label class="label text" for="leavetype">Leave Type</label>
          <div>
              <input  type="radio" name="leavetype"  value="Medical" formControlName="leavetype" [(ngModel)]= "employee.leavetype" required  />
              <label class="text" for="medical">Medical</label>
              <input type="radio" name="leavetype" value="Vacation" formControlName="leavetype" [(ngModel)]= "employee.leavetype" required   />
              <label class="text" for="vacation">Vacation</label>
              <span class="text-danger" *ngIf="employeeForm.controls['leavetype'].dirty && employeeForm.hasError('required','leavetype')">* Leave type Selection is required</span>

          </div>
      </div> 

         





       

    
     <!-- Date -->
 <div class="row-content">
    <label for="leaveStartDate" class="label-text">Start Date</label>
    <mat-form-field>
      <input formControlName="leaveStartdate"
        [(ngModel)]= "employee.leaveStartdate"
        matInput
        [matDatepicker]= "myDatePickerr"  placeholder=" Choose Your Start Date.."
      />
      <mat-datepicker-toggle
        [for]="myDatePickerr"
        matSuffix style=" color: sandybrown "
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatePickerr></mat-datepicker>
    </mat-form-field>
  </div>

   <div class="row-content">
    <label for="leaveEnddate" class="label-text">End Date</label>
    <mat-form-field>
      <input formControlName="leaveEnddate"
        [(ngModel)]= "employee.leaveEnddate"
        matInput
        [matDatepicker]= "myDatePicker"  placeholder=" Choose Your End Date.."
        
      />
      <mat-datepicker-toggle
        [for]="myDatePicker"
        matSuffix style=" color: sandybrown "
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>
  </div> 


  <!-- Notes -->
  <div class="row-content">
    <label class="label text" for="notes">Reason</label>
    <textarea formControlName="notes" 
      [(ngModel)]= "employee.notes"
      class="input"
      name="Notes"
      id="notes"
      placeholder=""
      style="height: 100px"
    ></textarea>
    <span class="text-danger" *ngIf="employeeForm.controls['notes'].dirty && employeeForm.hasError('required','notes')">*Reason is required</span>

  </div>

  <!-- <Submit, Cancel, Reset Buttons -->
   <div class="buttonParent">
    <a routerLink="/home" href="./header.component.html" class="resetButton button cancelButton">Cancel</a>
    <div class="submit-reset">
        <button type="button" class="button submitButton"  id="submitButton " (click)= "onSubmit()">Update</button>
        <button type="button" class="resetButton button" >Reset</button>
    </div>
</div>



</form>

</div>









































































































































<!-- <app-header></app-header>
<p>update works!</p>

<div class="form-content" >

     <form   (ngSubmit)= "onSubmit()"> -->

        <!-- <form [formGroup]="employeeForm"  >
        
          <div class="form-head">Employee Leave Update form</div> --> -->


        
<!-- Name -->
<!-- <div class="row-content">
    <label class="label text" for="name">Name</label>
    <!-- <input [(ngModel)]= "employee.name" name="name" class="input" type="text" id="first" name="firstName"
        placeholder="Your name.." required [ngModelOptions]="{ standalone: true }" /> -->
        <!-- <input formControlName="name" [(ngModel)]= "employee.name" name="name" class="input" type="text" id="first" name="name"
        placeholder="Your name.." required  /> 
        <span class="text-danger" *ngIf="employeeForm.controls['name'].dirty && employeeForm.hasError('required','name')">* Name is required</span> -->
<!-- </div> --> 



<!-- LEAVETYPE -->
<!-- <div class="row-content"> 
    <label class="label text" for="leavetype">Leave Type</label>
    <div>
        <input [(ngModel)]= "employee.leavetype" type="radio" name="medical" id="medical" value="Medical" />
        <label class="text" for="medical">Medical</label>
        <input [(ngModel)]= "employee.leavetype" type="radio" name="vacation" id="vacation" value="Vacation" />
        <label class="text" for="vacation">Vacation</label>
    </div>
</div>  -->





    <!-- LEAVE DATE
  <div class="row-content date">
    <label for="startDate" class="label-text"> Leave Start Date</label>
  <mat-form-field>
    <input  [(ngModel)]= "employee.leaveStartdate"
     matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field></div>


  <div class="row-content">
    <label for="startDate" class="label-text">Leave End Date</label>
  <mat-form-field>
    <input
    [(ngModel)]= "employee.leaveEnddate" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field></div>
   -->



   <!-- Notes -->
   <!-- <div class="row-content">
    <label class="label text" for="notes">Reason</label>
    <textarea
      [(ngModel)]= "employee.notes"
      class="input"
      name="Notes"
      id="notes"
      placeholder=""
      style="height: 100px"
    ></textarea>
    <span class="text-danger" *ngIf="employeeForm.controls['notes'].dirty && employeeForm.hasError('required','notes')">* Notes is required</span>
  </div> -->







  
   <!-- Submit, Cancel, Reset Buttons -->
   <!-- <div class="buttonParent">
    <a routerLink="/home" href="./header.component.html" class="resetButton button cancelButton">Cancel</a>
    <div class="submit-reset">
        <button type="submit" class="button submitButton"  id="submitButton " (click)= "onSubmit()">Update</button>
        <button type="reset" class="resetButton button" >Reset</button>
    </div>
</div>
         
    </form>
</div> -->